{% extends "polls/base.html" %}
{% block content %}
    {% if latest_question_list %}
        <h2>Lista das enquetes cadastradas</h2>
        <ul class="questions-all">
        {% for question in latest_question_list %}
            <li class="question"><a href="{% url 'polls:detail' question.id %}">
                {{ question.question_text }}</a></li>
            <li class="parcial"><a href="{% url 'polls:results' question.id %}">
                Resultado Parcial
            </a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma questao disponivel</p>
    {% endif %}
    <hr>
    <a href= "{%url 'root:index' %}">Voltar para aplicações</a>
{% endblock %}